#contactus {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .contact {
    margin: 0px auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.5rem 0.4rem 0.1rem 0.4rem;
    font-family: "Lobster", cursive;
    font-size: 3rem;
    text-shadow: -2px -2px 3px rgb(63, 236, 40);
    border: 3px solid black;
    background-color: rgb(182, 180, 180);
    border-radius: 16px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.059rem;
    font-family: "Libre Baskerville", serif;
    border: 3px solid black;
    border-radius: 1.8rem;
    padding: 0.3rem 1rem 0.5rem 1rem;
    background-color: rgb(166, 201, 253);
  }
  
  textarea {
    margin: 10px 0px 0px 0px;
    height: 14rem;
  }
  
  #contactus::before {
    content: "";
    position: absolute;
    background: url("../images/contact.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #contactus input,
  #contactus textarea {
    font-size: 1.09rem;
    width: 40rem;
    padding: 0.3rem;
    border-radius: 10px;
    box-shadow: 3px 2px 3px black;
  }
  
  .contact-item-button {
    display: flex;
  }
  .contact-item button,
  #contact-reset input {
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: -2px -2px 3px black;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  #contact-reset input {
    width: 7rem;
  }
  
  #contact-reset input:hover {
    background-color: rgb(206, 204, 204);
    transform: scale(1.1);
    box-shadow: 2px 2px 3px black;
  }
  
  .contact-item button:hover {
    background-color: rgb(206, 204, 204);
    transform: scale(1.1);
    box-shadow: 2px 2px 3px black;
  }
  