#experience {
    display: flex;
    flex-direction: column;
    height: 95vh;
  }
  
  .exp_head {
    margin: 0px auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.5rem 0.4rem 0.1rem 0.4rem;
    font-family: "Lobster", cursive;
    font-size: 250%;
    text-shadow: -2px -2px 3px rgb(236, 70, 40);
    border: 3px solid black;
    background-color: rgb(182, 180, 180);
    border-radius: 16px;
  }
  
  .exp-item {
    font-family: "Libre Baskerville", serif;
    border: 3px solid black;
    display: flex;
    font-size: 170%;
    border-radius: 15px;
    margin-left: 10px;
    flex-direction: column;
    margin-top: 1rem;
    background-color: rgb(190, 247, 178);
    box-shadow: -4px -4px 6px black;
  }

  .exp-item div{
padding-bottom: 1.5vh;
  }

  .exp-item img {
    height: 23vh;
    width: 300px;
    border-radius: 15px;
    justify-content: center;
    margin: auto;
    border: 2px solid black;
  }
  
  .exp-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .exp-item button {
    align-self: center;
    padding: 0px 1rem;
  }
  
  .exp-item button:hover {
    background-color: rgb(159, 241, 252);
    transform: scale(1.07);
    box-shadow: -1px -1px 3px black;
    color: black;
  }
  
  .exp-item h2 {
    padding: 5px;
  }
  
  #experience::before {
    content: "";
    position: absolute;
    background: url("../images/experience.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
  }
  
  .exp-item button {
    font-family: "Libre Baskerville", serif;
    border: 2px solid black;
    font-size: 70%;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(224, 223, 223);
  }
  