#home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 88vh;
  }
  
  #home_img img {
    width: 19vw;
    display: flex;
    z-index: -1;
    border: 2px solid rgb(128, 18, 18);
    border-radius: 10px;
    box-shadow: -9px -9px 5px rgb(8, 0, 8);
    transition-duration: 1s;
  }
  
  #home_img img:hover{
      box-shadow: 16px 16px 24px rgb(8, 0, 8);
      transform: scale(1.02);
  }
  
  #home_data {
    display: flex;
    flex-direction: column;
    font-size: 220%;
    font-family: "Libre Baskerville", serif;
  }
  
  /* BACKGROUNG IMAGE */
  #home::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("../images/image-from-rawpixel-id-2408059-jpeg.jpg") no-repeat
      center center/cover;
  }
  